<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    
    <!-- header -->
    <header>
        <div class="qalampir-navbar">
            <div class="navbar-top">
                <div class="navbar-logo">
                    <img src="/images/logo.svg" alt="Navbar Logo">
                </div>
                <div class="menu">
                    <div class="menu-price">
                        <h6>Kurs <span>UZS</span></h6>
                        <ul class="price">
                            <li><span class="price-name">USD</span><span class="price-price">12729.83</span><span class="absolute-price">+4.99</span></li>
                            <li><span class="price-name">EUR</span><span class="price-price">14207.76</span><span class="absolute-price">-16.07</span></li>
                            <li><span class="price-name">RUB</span><span class="price-price">137.46</span><span class="absolute-price">+0.5</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-bottom"></div>
        </div>
    </header>
    <!-- header end -->
    
    <!-- main -->
        <!-- yangiliklar -->
        <!-- yangiliklar end -->

        <!-- so'ngi yangiliklar -->
            <!-- barchasi -->
            <!-- barchasi end -->
            <!-- trendagilar -->
            <!-- trendagilar end -->
        <!-- so'ngi yangiliklar end -->

        <!-- qalampir reklama -->
        <!-- qalampir reklama end -->

        <!-- video yangiliklar -->
            <!-- asosiy -->
            <!-- asosiy end -->
            <!-- qolganlari -->
            <!-- qolganlari end -->
        <!-- video yangiliklar end -->

        <!-- juft -->
            <!-- jamiyat -->
            <!-- jamiyat end -->
            <!-- olam -->
            <!-- olam end -->
        <!-- juft end -->

        <!-- juft -->
            <!-- intervyu -->
            <!-- intervyu end -->
            <!-- tahlil -->
            <!-- tahlil end -->
        <!-- juft end -->

        <!-- juft -->
            <!-- madaniyat sanat -->
            <!-- madaniyat sanat end -->
            <!-- foydali -->
            <!-- foydali end -->
        <!-- juft end -->

        <!-- juft -->
            <!-- sport -->
            <!-- sport end -->
        <!-- juft end -->
    <!-- main end -->
    <!-- footer -->
    <!-- footer end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>